{% extends "base.html" %}

{% block title %}Application Details{% endblock %}

{% block content %}

{% macro create_application_details(title, application_details, beneficiary_id) %}
<div class="relative col-span-1 p-6 bg-slate-100 rounded-lg shadow border-2 border-gray-400 border-dashed hover:border-gray-500 hover:shadow-xl">

      <h1 class="text-base sm:text-lg italic text-center  mb-4">{{title}}</h1>
      <h2 class="text-base sm:text-lg text-emerald-700 text-center italic underline mb-1 sm:mb-2">Application Details</h2>
      <p>Parental Status: <span class="font-bold">{{ application_details.parental_status }}</span></p>
      <p>Annual Family Income: <span class="font-bold">{{ application_details.total_annual_family_income }}</span></p>
      <p>House Status: <span class="font-bold">{{ application_details.house_status }}</span></p>
      <p>Failed Subjects: <span class="font-bold">{{ 'No' if not application_details.have_failed_in_any_subject_in_last_2_sem else 'Yes' }}</span></p>
      <p>Latest Semester Percentage: <span class="font-bold">{{ application_details.latest_sem_perc }}</span></p>
      <p>Previous Semester Percentage: <span class="font-bold">{{ application_details.previous_sem_perc }}</span></p>
      <p>Difference in Percentage: <span class="font-bold">{{ application_details.difference_in_sem_perc }}</span></p>
      <p>Reason for Assistance: <span class="font-bold">{{ application_details.reason_for_expecting_financial_assistance }}</span></p>
      <p>Special Considerations: <span class="font-bold">{{ application_details.special_consideration }}</span></p>
     

      <div class="mt-4 flex flex-col">
          <h2 class="text-base sm:text-lg text-emerald-700 text-center italic underline mb-1 sm:mb-2">Application Period Details</h2>
          <p>Academic Year: <span class="font-semibold">{{ application_details.academic_year }}</span> </p>
          <p>Semester: <span class="font-semibold">{{ application_details.semester }}</span> </p>
          <p>Applied at: <span class="font-semibold">{{ application_details.applied_at.strftime('%d/%m/%Y @ %I:%M%p')}}</span></p>
      </div>

      {% if application_details.application_status %} 
        <div class="mt-4 flex-flex-col items-center">

          <h2 class="text-base sm:text-lg text-emerald-700 text-center italic underline mb-1 sm:mb-2">Verification Details</h2>
          <p>Verified By: <span class="font-bold">{{application_details.verifier_name}}</span></p>
          <p>Verified: <span class="font-bold">{{application_details.verified_at.strftime('%d/%m/%Y @ %I:%M%p')}}</span></p>
          <p>Conclusion: <span class="font-bold">
            {{'Rejected' if application_details.reason_for_rejection else 'Accepted'}}
          </span>
          </p>
          {% if application_details.reason_for_rejection %}
              <p>Reason for rejection: <span class="font-bold">{{application_details.reason_for_rejection}} </span>
          {% endif %}
        </div>
      {% endif %}

      {% if application_details.amount %}
        <div class="mt-4 flex flex-col">
          <h2 class="text-base sm:text-lg text-emerald-700 italic text-center underline mb-1 sm:mb-2">Sponsor Details</h2>
          <p>Transfered Amount: <span class="font-bold">{{ application_details.amount }}</span> </p>
          <p>Sponsor: <span class="font-bold">{{ application_details.sponsor_name }}</span> </p>
          <p>Sponsor Number: <span class="font-bold">{{ application_details.sponsor_num }}</span> </p>
          <p>Location: <span class="font-bold">{{ application_details.sponsor_location }}</span> </p>
          <p>Country: <span class="font-bold">{{ application_details.sponsor_country }}</span> </p>
          <p>Transfered on: <span class="font-bold">{{ application_details.transaction_date.strftime('%d/%m/%Y')}}</span></p>
        </div>
      {% endif %}


      <div class="lg:absolute left-0 right-0 bottom-2 mr-2  mt-2 flex flex-col gap-1 items-end underline">
        <a target="_blank" href="/admin_and_volunteer/application/uploads?beneficiary_id={{ beneficiary_id }}&current_semester={{ application_details.current_semester}}&document=latest_sem_marksheet" class="text-gray-950 py-1 hover:text-indigo-600">Latest Sem Marksheet</a>
        <a target="_blank" href="/admin_and_volunteer/application/uploads?beneficiary_id={{ beneficiary_id }}&current_semester={{ application_details.current_semester}}&document=previous_sem_marksheet" class="text-gray-950 py-1 hover:text-indigo-600">Previous Sem Marksheet</a>
        <a target="_blank" href="/admin_and_volunteer/application/uploads?beneficiary_id={{ beneficiary_id }}&current_semester={{ application_details.current_semester}}&document=bonafide_or_fee_paid_proof" class="text-gray-950 py-1 hover:text-indigo-600">Bonafide</a>
      </div>


</div>
{% endmacro %}


<div class="m-5 mt-20 p-6 bg-slate-50 rounded-lg shadow-lg border-2">
    <!-- Header Section -->
    <div class="flex flex-col items-center p-4 rounded-lg">
      <div class="relative w-40 h-40 lg:w-52 lg:h-52 mb-3">
        <img
          src="/admin_and_volunteer/beneficiary_profile_pic/{{ data.general_details.beneficiary_id }}"
          alt="Profile Picture"
          class="w-[150px] h-[150px] lg:w-[200px] lg:h-[200px]  rounded-full shadow-lg border-2 border-white hover:shadow-2xl transition-all"
        />
      </div>
      <h1 class="text-base lg:text-2xl font-bold text-emerald-700">{{ data.general_details.full_name }}</h1>
      <p class="text-md lg:text-lg text-center">{{ data.general_details.degree }} - {{ data.general_details.course }}</p>
      <p class="text-md lg:text-lg text-center text-gray-950">{{ data.general_details.department }}</p>
      <p class="text-md lg:text-lg text-center text-red-600">{{ data.general_details.college_name }}</p>
    </div>
  


    <!-- // Application Sections -->
    <div class="grid grid-cols-1 {% if data.previous_application_details %} sm:grid-cols-2 {% endif %} gap-4 mt-10">
        {% if data.previous_application_details %}
            {{create_application_details("Previous Application Details", data.previous_application_details, data.general_details.beneficiary_id)}}
            {{create_application_details("Current Application Details", data.current_application_details, data.general_details.beneficiary_id)}}
        {% else %}
            {{create_application_details("Current Application Details", data.current_application_details, data.general_details.beneficiary_id)}}
        {% endif %}
    </div>
    
    {% if data.current_application_details.application_status %}
        <div class="mt-5">
            <h1 class="text-xl sm:text-2xl xl:text-3xl text-emerald-600 text-center">Application Verified</h1>
        </div>
    {% else %}
    
    <form method="post" id="remarks_form" name="remarks_form" class="mt-10">
         <!-- Input Fields Section -->
          <h2 class="text-lg font-bold text-gray-900">Remarks</h2>
          <textarea name="remarks" 
                    rows="3"
                    id="remarks_field" 
                    class="w-full p-3 mt-2 bg-gray-50 border rounded-lg shadow-sm" 
                    placeholder="Enter remarks for this application"
                    required
                    >
          </textarea>
          <input type="number" value="{{data.current_application_details.application_period_id}}" name="application_period_id" id="application_period_id" class="hidden">
          <input type="number" value="{{data.current_application_details.id}}" name="application_id" id="application_id" class="hidden">
      </form>

    <form method="post" name="reject_form" id="reject_form">
      <h2 class="text-lg font-bold text-gray-900 mt-6">Reason for Rejection</h2>
          <textarea name="reason_for_rejection" 
                    id="rejection_reason"
                    rows="2" 
                    class="w-full p-3 mt-2 bg-gray-50 border rounded-lg shadow-sm" 
                    placeholder="Provide a reason for rejection if applicable"></textarea>
          <small id="rejection_reason_error_msg" class="text-red-600 hidden"></small>
          <input type="number" value="{{data.current_application_details.application_period_id}}" name="application_period_id" id="application_period_id" class="hidden">
          <input type="number" value="{{data.current_application_details.id}}" name="application_id" id="application_id" class="hidden">

      </form>
     

      <!-- Action Buttons -->
      <div class="flex justify-between gap-4 mt-6">
          <button type="submit" form="reject_form" class="px-6 py-2 text-white bg-red-500 rounded-lg hover:bg-red-600">Reject</button>
          <button type="submit" form="remarks_form" class="px-6 py-2 text-white bg-emerald-500 rounded-lg hover:bg-emerald-600">Accept</button>
      </div>

      {% endif %}


</div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const remarksField = document.getElementById("remarks_field");
            const rejectionReasonField = document.getElementById("rejection_reason");
            const rejectionErrorMsgField = document.getElementById("rejection_reason_error_msg");

            const remarsForm = document.getElementById("remarks_form");
            const rejectForm = document.getElementById("reject_form");

            const previousRemarks = "{{ data.general_details.remarks }}";
            
            if (previousRemarks){
              remarksField.value = previousRemarks;
            }


            remarsForm.addEventListener("submit", (event) => {
                if (remarksField.value.trim() === ''){
                    event.preventDefault();
                    remarsForm.focus();
                }
            });
            
            rejectForm.addEventListener("submit", (event) => {
                if (rejectionReasonField.value.trim() === ''){
                  event.preventDefault();
                  rejectionErrorMsgField.textContent = "Please add a reason for rejection";
                  rejectionErrorMsgField.classList.remove("hidden");
                  rejectionReasonField.focus();
                }
            });




        });

    </script>

{% endblock %}
