{% extends "base.html" %}

{% block title %} Beneficiary Verify {% endblock %}

{% block content %}

    <div class="m-5 bg-slate-50 p-6 mt-20 sm:mt-24 rounded-lg">
        <!-- Profile Section -->
        <div class="flex flex-col items-center">
          <div class="relative w-40 h-40 lg:w-52 lg:h-52 mb-1 sm:mb-2">
            <img
              src="/admin_and_volunteer/beneficiary_profile_pic/{{ profile.id }}"
              alt="Profile Picture"
              class="w-[150px] h-[150px] lg:w-[200px] lg:h-[200px]  rounded-full shadow-lg border-2 border-white hover:shadow-2xl transition-all"
            />
          </div>
          <h1 class="text-lg lg:text-xl font-bold text-emerald-600">{{ profile.full_name }}</h1>
          <p class="text-md lg:text-lg text-center text-gray-900">{{ profile.course }} - {{ profile.department }}</p>
          <p class="text-md lg:text-lg text-center text-red-600">{{profile.college_name }}</p>
        </div>
      
        <!-- Details Section -->
        <div class="mt-8 grid grid-cols-1 lg:grid-cols-3 gap-6">
          <!-- Personal Details -->
          <div class="bg-white shadow-md hover:shadow-lg rounded-lg p-6 border-2 border-gray-400 border-dashed hover:border-gray-500 ">
            <h2 class="text-base sm:text-lg xl:text-xl text-emerald-700 mb-4 text-center">Personal Details</h2>
            <p class="">Gender: <span class="font-bold">{{ profile.gender }}</span> </p>
            <p class="">Phone: <span class="font-bold">{{ profile.phone_num }}</span> </p>
            <p class="">Gheru Naav: <span class="font-bold">{{ profile.gheru_naav }}</span> </p>
            <p class="">Date of Birth: <span class="font-bold">{{ profile.date_of_birth }}</span> </p>
            <p class="">Status: 
                  {% if profile.is_verified %}
                  <span class="text-emerald-600 font-bold">Verified</span>
                  {% else %}
                  <span class="text-red-600 font-bold">New</span>
                  {% endif %}
                
            </p>
            <p class="font-bold text-center underline mt-2 hover:text-indigo-600">{{ profile.email_id }}</p>

          
          </div>
      
          <!-- Parental Details -->
          <div class="bg-white shadow-md hover:shadow-lg rounded-lg p-6 border-2 border-gray-400 border-dashed hover:border-gray-500">
            <h2 class="text-base sm:text-lg xl:text-xl text-emerald-700 mb-4 text-center">Parent Details</h2>
            <p class="">Father's Name: <span class="font-bold">{{ profile.father_name }}</span> </p>
            <p class="">Father's Occupation: <span class="font-bold">{{ profile.father_occupation }}</span> </p>
            <p class="">Mother's Name: <span class="font-bold">{{ profile.mother_name }}</span> </p>
            <p class="">Mother's Occupation: <span class="font-bold">{{ profile.mother_occupation }}</span> </p>
            <p class="">Address: <span class="font-bold"> {{ profile.address_line }}, {{ profile.city }}, {{ profile.district }} - {{ profile.pincode }}</span></p>
          </div>
      
          <!-- Educational Details -->
          <div class="bg-white shadow-md hover:shadow-lg rounded-lg p-6 border-2 border-gray-400 border-dashed hover:border-gray-500">
            <h2 class="text-base sm:text-lg xl:text-xl text-emerald-700 mb-4 text-center">Educational Details</h2>
            <p class="">10th Percentage: <span class="font-bold">{{ profile.tenth_perc }}</span> </p>
            <p class="">12th Percentage: <span class="font-bold">{{ profile.twelveth_perc }}</span> </p>
            <p class="">College: <span class="font-bold">{{ profile.college_name }}</span></p>
            <p class="">University: <span class="font-bold">{{ profile.university }}</span></p>
            <p class="">Course: <span class="font-bold">{{ profile.course }} - {{ profile.degree }}</span></p>
            <p class="">Department: <span class="font-bold">{{ profile.department }}</span></p>
          </div>
        </div>
      
        <!-- Marksheet Links -->
        <div class="mt-8 flex flex-row gap-2 justify-center items-center">
          <a target="_blank" href="/admin_and_volunteer/beneficiary_marksheets/{{profile.id}}/?marksheet=tenth_marksheet" class="inline-block px-4 py-2 bg-emerald-500 text-white rounded-lg shadow-md hover:bg-emerald-600 hover:shadow-lg ">10th Marksheet</a>
          <a target="_blank" href="/admin_and_volunteer/beneficiary_marksheets/{{ profile.id }}/?marksheet=twelveth_marksheet"class="inline-block px-4 py-2 bg-emerald-500 text-white rounded-lg shadow-md hover:bg-emerald-600 hover:shadow-lg">12th Marksheet</a>
        </div>
      
        <!-- Remarks Form -->
        <div class="mt-12 bg-white shadow-md hover:shadow-lg rounded-lg p-4 border-2 border-gray-300">
          <h2 class="text-base md:text-xl text-gray-950 mb-2">Add Remarks and Verify</h2>
          <form method="post" class="space-y-4" id="remarks-form">
              <textarea required id="remarks-field"  name="remarks" rows="4" placeholder="Enter your remarks here..."class="w-full p-2 rounded-md shadow shadow-lg" ></textarea>

              {% if profile.edit_permission  %}
                <div class="flex justify-between gap-4">
                    {% if profile.is_verified %}
                    <button id="edit-button" type="button" class="px-6 py-2 bg-emerald-500 text-white rounded-lg hover:bg-emerald-600 shadow-md hover:shadow-lg">Edit</button>
                    {% endif %}
                    <button id="submit-button" type="submit" class="px-6 py-2 bg-emerald-500 text-white rounded-lg hover:bg-emerald-600 shadow-md hover:shadow-lg">Save</button>
                
                  </div>
              {% else %}
                <p class="text-center font-bold text-lg lg:text-xl">You cannot edit or verify this Beneficiary.</p>
              {% endif %}
          </form>
        </div>
      </div>

      <script>
          
            const remarksField = document.getElementById("remarks-field");
            const submitButton = document.getElementById("submit-button");
            const editButton = document.getElementById("edit-button");
            
            // Jinja values
            const previousRemarks = "{{profile.remarks}}";
            const beneficiaryStatus = {{profile.is_verified | tojson}};
            const editPermission = {{profile.edit_permission | tojson }};
            
            if (editPermission === false){
              remarksField.disabled = true;
              editButton.disabled = true;
            }

            if (beneficiaryStatus == true){
              remarksField.disabled = true;
              submitButton.disabled = true;
              remarksField.value = previousRemarks || '';

            }


            editButton.addEventListener("click", () => {
              remarksField.disabled = false;
              submitButton.disabled = false;
              remarksField.focus() // return the focus to the end of the remarks field.

            });

          

          


      </script>
      
{% endblock %}
