{% extends "base.html" %}

{% block title %} Beneficiaries {% endblock %}

{% block content %}
<div class="p-4 grid grid-cols-1 mt-20 sm:grid-cols-2 lg:grid-cols-3 gap-x-2 gap-y-3">
  {% for beneficiary in beneficiaries %}
    <div class="p-4">
      <div class="max-w-md mx-auto h-full flex flex-col justify-between">
        <div class="bg-slate-50 shadow-gray-700 shadow-lg rounded-lg overflow-hidden h-full flex flex-col">
          <div class="p-4 flex flex-col items-center flex-grow">
            <!-- Profile Picture -->
            <img 
              src="/admin/beneficiary_profile_pic/{{beneficiary.id}}" 
              alt="Profile Picture" 
              class="w-[150px] h-[150px] rounded-full shadow-md mb-4 border-r-2 border-indigo-300"
            />
            <!-- Beneficiary Name -->
            <h3 class="text-xl font-semibold text-emerald-900">{{ beneficiary.name }}</h3>
            <!-- Course and College -->
            <div class="text-sm sm:text-lg text-black font-serif mt-2 text-center sm:flex-grow">
              <p> <span class="font-bold text-gray-900">({{ beneficiary.degree }})</span> {{beneficiary.course }}</p>
              <p>{{ beneficiary.department }}</p>
              <p>{{ beneficiary.college_name }}</p>
            </div>
          </div>
          <!-- "More" Button -->
          <div class="p-4 flex justify-center">
            <a 
              href="/beneficiary/{{ beneficiary.id }}" 
              class="bg-indigo-500 hover:bg-emerald-600 text-white text-sm font-medium py-2 px-4 rounded-lg shadow-md"
            >
              More
            </a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
