<!-- This html file is used to display all the general message from different routes. -->

{% extends "base.html" %}

{% block title %} {{message_type}} {% endblock %}


{% block content %} 

    <div class="min-h-screen flex flex-col justify-center items-center mx-5 my-auto sm:mx-auto">
        <h1 class="text-lg lg:text-2xl text-gray-950 font-bold text-center mb-2">{{ message }}</h1> <br>

        {% if message_type == 'Profile Complete'%}
            <p>Please click here to apply for <a href="/beneficiary/financial_assistance_application" class="text-red-500 underline">scholarship</a></p>
        {% endif %}
    </div>

{% endblock %}

