{% extends "base.html" %}

{% block title %} Parental Details {% endblock %}

{% block content %}

    <div class="min-h-screen flex flex-col justify-center items-center mt-20">
        
        <div id="full-form" class="p-5 bg-slate-50 rounded-lg shadow-lg shadow-gray-900 lg:w-1/2  mx-5 my-auto mb-10">
            
            <div id="form" class="flex flex-col gap-2">
                <div id="heading-div">
                    <!-- <h1 class="text-xl text-indigo-500 font-bold italic text-center sm:text-xl lg:text-2xl">Parental Details</h1> -->
                    <h1 class="text-lg text-indigo-600 italic mt-2  text-center sm:text-xl lg:text-2xl">Parent Details</h1>
                    
                </div> 
                
                <form method="post" id="parent_details_form" enctype="multipart/form-data" class="grid grid-cols-1 mt-2 gap-2 p-4 sm:grid sm:grid-cols-2 sm:gap-3 sm:items-center">

                    <div class="flex flex-col gap-0.5" id="father_name-div">
                        <label for="father_name">Father Name</label>
                        <input required type="text" name="father_name" id="father_name" placeholder="Ram" class="rounded-lg  focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md">
                    </div>

                    <div class="flex flex-col gap-0.5" id="mothet_name-div">
                        <label for="mothet_name">Mother Name</label>
                        <input required type="text" name="mother_name" id="mothet_name" placeholder="Prabhavathi" class="rounded-lg  focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md">
                    </div>

                    <div class="flex flex-col gap-0.5" id="father_occupation-div">
                        <label for="father_occupation">Father Occupation</label>
                        <input required type="text" name="father_occupation" id="father_occupation" placeholder="Silk Weaver" class="rounded-lg  focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md">
                    </div>
                    
                    <div class="flex flex-col gap-0.5" id="mother_occupation-div">
                        <label for="mother_occupation" class="text-md">Mother Occupation</label>
                        <input required  type="text" name="mother_occupation" id="mother_occupation" placeholder="Home Maker" class="rounded-lg  focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md">
                    </div>
                    
                    <div class="flex flex-col gap-0.5" id="parent_phone_num-div">
                        <label for="parent_phone_num">Parent Phone Number</label>
                        <input required type="text" maxlength="10" name="parent_phone_num" id="parent_phone_num" placeholder="9876543210" class="rounded-lg  focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md">
                        <small id="parent_phone_num_error_msg" class="text-red-600 hidden"></small>
                    </div>

                    <div class="flex flex-col gap-0.5" id="address_line-div">
                        <label for="address_line">Address Line</label>
                        <input required type="text" name="address_line" id="address_line" placeholder="No.5 Second street" class="rounded-lg  focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md">
                    </div>

                    <div class="flex flex-col gap-0.5" id="city-div">
                        <label for="city">City</label>
                        <input required type="text" name="city" id="city" placeholder="Kumbakonam" class="rounded-lg  focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md">
                    </div>

                    <div class="flex flex-col gap-0.5" id="district-div">
                        <label for="district">District</label>
                        <input required type="text" name="district" id="district" placeholder="Thanjavur" class="rounded-lg  focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md">
                    </div>

                    <div class="flex flex-col gap-0.5" id="pincode-div">
                        <label for="pincode">Pincode</label>
                        <input required type="text"  maxlength="6" name="pincode" id="pincode" placeholder="612702" class="rounded-lg  focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md">
                        <small id="pincode_error_msg" class="text-red-600 hidden"></small>
                    </div>
    
                    <div class="flex flex-col gap-2" id="family_pic-div">
                        <label for="family_pic">Family Photo <small class="">(optional)</small></label>
                        <input type="file" name="family_pic" id="family_pic" accept="image/jpeg">
                        <small class="text-red-500 hidden" id="family_pic_error_msg">Only JPEG File format is accepted.</small>
                    </div>
                    <div class="flex flex-col mt-3 sm:mt-4 sm:col-span-2">
                        <button class=" bg-indigo-500 hover:bg-indigo-600 text-white rounded-lg px-14 py-3" type="submit">Submit</button>
                    </div>
                </form>

        </div>
    </div>

    <script>
            document.addEventListener("DOMContentLoaded", () => {
                
                const parentDetailsForm = document.getElementById("parent_details_form");
                const parentPhoneNumber = document.getElementById("parent_phone_num");
                const pincode = document.getElementById("pincode");

                const phoneNumberErrorField = document.getElementById("parent_phone_num_error_msg");
                const pincodeErrorField = document.getElementById("pincode_error_msg");
                const phoneNumberRegEx = /^[6-9]\d{9}$/;
                const pincodeRegEx = /\d{6}$/;

                const familyPic = document.getElementById("family_pic");



                // Phone Number Validator
                parentPhoneNumber.addEventListener("input", () => {
                    if (!phoneNumberRegEx.test(parentPhoneNumber.value.trim())){
                        phoneNumberErrorField.textContent = "Enter valid mobile number!";
                        phoneNumberErrorField.classList.remove("hidden");
                    }
                    else{
                        phoneNumberErrorField.textContent = "";
                        phoneNumberErrorField.classList.add("hidden");
                    }
                });

                // Pincode Validator.
                pincode.addEventListener("input", () => {
                    if (!pincodeRegEx.test(pincode.value.trim())){
                        pincodeErrorField.textContent = "Enter valid pincode!";
                        pincodeErrorField.classList.remove("hidden");
                    }
                    else{
                        pincodeErrorField.textContent = "";
                        pincodeErrorField.classList.add("hidden");
                    }
                });


                // Prevent Form submission.
                parentDetailsForm.addEventListener("submit", (event) => {
                    if (!phoneNumberRegEx.test(parentPhoneNumber.value.trim())){
                        event.preventDefault();
                        parentPhoneNumber.focus();
                    }
                    else if (!pincodeRegEx.test(pincode.value.trim())){
                        event.preventDefault();
                        pincode.focus();
                    }
                });

                familyPic.addEventListener("change", (event) => {
                    const fileInput = event.target;
                    const file = fileInput.files[0];
                    const errorMsgField = document.getElementById("family_pic_error_msg");

                    if(file){
                        if(file.type != 'image/jpeg'){
                            errorMsgField.classList.remove("hidden");
                            fileInput.value = '';
                        }
                        else{
                            errorMsgField.classList.add("hidden");
                        }
                    }
                });

                

            });
    </script>

{% endblock %}