{% extends "base.html" %}

{% block title %}Personal Details{% endblock %}

{% block content %}

    <div class="min-h-screen flex flex-col justify-center items-center mt-20">
        <div id="full-form" class="p-5 bg-slate-50 rounded-lg shadow-lg shadow-gray-900 lg:w-1/2 mx-5 mb-10">
            <div id="form" class="flex flex-col gap-2 ">
                <div id="heading-div">
                    <!-- <h1 class="text-xl text-indigo-500 font-bold italic text-center sm:text-xl lg:text-2xl">Personal Details</h1> -->
                    <h1 class="text-lg text-indigo-600 italic text-center sm:text-xl lg:text-2xl mt-2">Personal Details</h1>
                </div>

                {% if error_message %}
                <div id="error-div" class="text-center text-sm text-red-600 font-semibold sm:text-lg">
                    <p>{{error_message}}</p>
                </div>
                {% endif %}
                
                <form method="post" id="personal_details_form" enctype="multipart/form-data" class="grid grid-cols-1 mt-1 gap-2 sm:grid sm:grid-cols-2 sm:gap-3 p-4">

                    <div class="flex flex-col gap-0.5" id="initial-div">
                        <label for="initial">Initial</label>
                        <input required type="text" name="initial" id="initial" placeholder="RP" class="rounded-lg focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md">
                    </div>

                    <div class="flex flex-col gap-0.5" id="name-div">
                        <label for="name">Full Name</label>
                        <input required type="text" name="name" id="name" placeholder="Nagarjun" class="rounded-lg focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md">
                    </div>

                    <div class="flex flex-col gap-0.5" aria-colcount="name-as-in-passbook-div">
                        <label for="name_as_in_passbook">Name as in Passbook</label>
                        <input required type="text" name="name_as_in_passbook" id="name_as_in_passbook" placeholder="Nagarjun Ramakrishnan" class="rounded-lg focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md ">
                    </div>
                    
                    <div class="flex flex-col gap-0.5" id="gender">
                        <label for="gender">Gender</label>
                        <select name="gender" id="gender"  class="rounded-lg focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    
                    <div class="flex flex-col gap-0.5" id="gheru_naav-div">
                        <label for="gheru_naav" class="text-md">Gheru Naav</label>
                        <input required  type="text" name="gheru_naav" id="gheru_naav" placeholder="Girim" class="rounded-lg focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md">
                    </div>
                    
                    <div class="flex flex-col gap-0.5" id="aadhar_num-div">
                        <label for="aadhar_num">Aadhar Number</label>
                        <input required type="text" name="aadhar_num" id="aadhar_num" maxlength="12" placeholder="************" class="rounded-lg focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md">
                        <small id="aadhar_num_error_msg" class="text-red-500 hidden"></small>
                        
                    </div>

                    <div class="flex flex-col gap-0.5" id="date_of_birth-div">
                        <label for="date_of_birth">Date of Birth</label>
                        <input required type="date" name="date_of_birth" id="date_of_birth" class="w-full rounded-lg focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md">
                    </div>

                    <div class="flex flex-col gap-0.5" id="phone_num-div">
                        <label for="phone_num">Phone Number</label>
                        <input required type="text" name="phone_num" id="phone_num" maxlength="10" placeholder="1234567890" class="rounded-lg focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md">
                        <small id="phone_num_error_msg" class="text-red-500 hidden"></small>
                        
                    </div>
    
                    <div class="flex flex-col gap-2" id="passport_size_pic-div">
                        <label for="passport_size_pic">Passport Photo</label>
                        <input required type="file" name="passport_size_pic" id="passport_size_pic" accept="image/jpeg" class="">
                        <small class="text-red-500 hidden" id="passport_size_pic_error_msg">Only JPEG File format is accepted.</small>
                    </div>
                    <div class="flex flex-col mt-3 sm:mt-4 sm:col-span-2">
                        <button class="bg-indigo-500 hover:bg-indigo-600 text-white rounded-lg px-14 py-3" type="submit">Submit</button>
                    </div>
                </form>

        </div>
    </div>
    
    <script>
            document.addEventListener("DOMContentLoaded", () => {

                const personalDetailsForm = document.getElementById("personal_details_form");
                const phoneNumber = document.getElementById("phone_num");
                const aadharNumber = document.getElementById("aadhar_num");
                const phoneNumberErrorMsg = document.getElementById("phone_num_error_msg");
                const aadharNumberErrorMsg = document.getElementById("aadhar_num_error_msg");
                const passportSizePic = document.getElementById("passport_size_pic");


                phoneNumberRegEx = /^[6-9]\d{9}$/;
                aadharNumberRegex = /^\d{12}$/;

                
                //Handling input event
                phoneNumber.addEventListener("input", () => {
                    
                    if (!phoneNumberRegEx.test(phoneNumber.value.trim())){
                        phoneNumberErrorMsg.textContent = "Enter valid phone number.";
                        phoneNumberErrorMsg.classList.remove("hidden");
                        phoneNumber.focus();
                    }
                    else{
                        phoneNumberErrorMsg.textContent = "";
                        phoneNumberErrorMsg.classList.add("hidden");
                    }

                });

                aadharNumber.addEventListener("input", () => {
                    if (!aadharNumberRegex.test(aadharNumber.value.trim())){
                        aadharNumberErrorMsg.textContent = "Enter valid aadhar number!";
                        aadharNumberErrorMsg.classList.remove("hidden");
                        aadharNumber.focus();
                    }
                    else{
                        aadharNumberErrorMsg.textContent = "";
                        aadharNumberErrorMsg.classList.add("hidden");
                    }
                });

                personalDetailsForm.addEventListener("submit", (event) => {
                    if (!aadharNumberRegex.test(aadharNumber.value.trim())){
                        event.preventDefault();
                        aadharNumber.focus();
                    }
                    else if (!phoneNumberRegEx.test(phoneNumber.value.trim())){
                        event.preventDefault();
                        phoneNumber.focus();
                    }  
                });

                passportSizePic.addEventListener("change", (event) => {
                    const fileInput = event.target;
                    const file = fileInput.files[0];
                    const errorMsgField = document.getElementById("passport_size_pic_error_msg");

                    if(file){
                        if(file.type != 'image/jpeg'){
                            errorMsgField.classList.remove("hidden");
                            fileInput.value = '';
                        }
                        else{
                            errorMsgField.classList.add("hidden");
                        }
                    }
                });


            });

    </script>
{% endblock %}