<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/output.css">
    <title>Reset Password</title>
</head>

<body class="bg-gradient-to-b from-emerald-50 to-emerald-400">

    <div class="min-h-screen flex flex-col justify-center items-center m-5">
        <div id="full-form" class="bg-slate-50 rounded-lg shadow-lg shadow-gray-900 lg:w-1/3 xl:w-1/3">
            
            <div id="form" class="font-mono  italic flex flex-col gap-2 p-10">
                <div id="heading-div" class="text-center">
                    <h1 class="text-xl text-indigo-500 font-bold italic  sm:text-xl lg:text-3xl">Reset Password</h1>
                </div>

                {% if error_message %}
                <div id="error-div" class="text-center text-xs text-red-600 font-semibold italic sm:text-lg">
                    <p id="error">{{error_message}}</p>
                </div>
                {% endif %}

                {% if sucess_message %}
                <div id="sucess-div" class="text-center text-xs text-green-600 font-semibold italic sm:text-lg">
                    <p>{{sucess_message}}</p>
                </div>
                {% endif %}
                
                <form method="post" id="password_reset_form" class="grid grid-cols-1 gap-3 mt-3">

                    <div class="flex flex-col gap-0.5" id="new_password-div">
                        <label for="new_password">New Password</label>
                        <input required type="password" name="new_password" id="new_password" placeholder="Enter new password." 
                            class="rounded-lg   focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md">
                    </div>

                    <div class="flex flex-col gap-0.5" id="confirm_new_password-div">
                        <label for="confirm_new_password">Confirm Password</label>
                        <input required type="password" name="confirm_new_password" id="confirm_new_password" placeholder="Enter confirm password." 
                            class="rounded-lg   focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md">
                        <small id="confirm_password_error_msg" class="text-red-600 hidden"></small>
                    </div>
                    

                    <div class="flex flex-col mt-3">
                        <button class=" bg-indigo-500 hover:bg-indigo-600 text-white rounded-lg px-14 py-3" type="submit">Reset</button>
                    </div>
                    
                </form>

                <div id="suggestion-div" class="flex flex-col text-center text-sm gap-2 mt-2 sm:text-lg">
                    <span class="font-semibold italic">Go to signin page <a class="font-mono px-1 text-indigo-500" href="/signin">Signin</a></span>
                </div>
        </div>
    </div>   

    <script>
            document.addEventListener("DOMContentLoaded", () => {
                const passwordResetForm = document.getElementById("password_reset_form");

                passwordResetForm.addEventListener("submit", (event) => {
                    const newPassword = document.getElementById("new_password");
                    const confirmNewPassword = document.getElementById("confirm_new_password");
                    const consirmPasswordErrorMsg = document.getElementById("confirm_password_error_msg");

                    if (newPassword.value !== confirmNewPassword.value){
                        event.preventDefault();
                        consirmPasswordErrorMsg.textContent = "Confirm password should match!";
                        consirmPasswordErrorMsg.classList.remove("hidden");
                        confirmNewPassword.focus();
                    }
                    else{
                        consirmPasswordErrorMsg.textContent = "";
                        consirmPasswordErrorMsg.classList.add("hidden");
                    }
                });
            });
    </script>
</body>
</html>


