<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/output.css">
    <title>Signup</title>
</head>
<body class="bg-gradient-to-bl from-emerald-100 to-amber-200 font-serif text-xs sm:text-sm lg:text-base">

    <div class="min-h-screen flex flex-col justify-center items-center mx-auto">
        <div id="full-form" class="bg-slate-50 rounded-lg shadow-lg shadow-gray-900 md:w-1/2 lg:w-1/3">
            
            <div id="form" class="flex flex-col gap-2 p-10">
                <div id="heading-div" class="text-center">
                    <h1 class="text-xl text-indigo-500 font-bold  sm:text-xl lg:text-3xl">Signup</h1>
                    <span class="">Empowering your education journey!</span>    
                </div>

                <!-- Error Message Section -->
                {% if error_message %}
                    <div id="error-div" class="text-center text-sm text-red-600 font-semibold sm:text-lg">
                        <p>{{error_message}}</p>
                    </div>
                {% endif %}
                <form method="post" id="signup_form" class="grid grid-cols-1  gap-3 mt-3">
                    <div class="flex flex-col gap-0.5" id="email_id-div">
                        <label for="email_id">Email Id</label>
                        <input required autofocus type="email" name="email_id" id="email_id" placeholder="nagarjun1@gmail.com"
                            class="rounded-lg   focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md"
                            value = "{{ email_id | default('') }}">
                    </div>
                    
                    <div class="flex flex-col gap-0.5" id="username-div">
                        <label for="username">Username</label>
                        <input required type="text" name="username" id="username" placeholder="Nagarjun" 
                            class="rounded-lg   focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md"
                            value="{{ username | default('') }}">
                    </div>

                    <div class="flex flex-col gap-0.5" id="password-div">
                        <label for="password">Password</label>
                        <input required type="password" name="password" id="password" placeholder="Enter password" 
                            class="rounded-lg   focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md">
                    </div>

                    <div class="flex flex-col gap-0.5" id="confirm_password-div">
                        <label for="confirm_password">Confirm Password</label>
                        <input required type="password" name="confirm_password" id="confirm_password" placeholder="Enter confirm password" 
                            class="rounded-lg   focus:ring-1 focus:ring-indigo-600  focus:shadow-gray-900 focus:shadow-md">
                        <small id="confirm_password_error_msg" class="text-red-600 hidden"></small>
                    </div>
                    

                    <div class="flex flex-col mt-3">
                        <button class=" bg-indigo-500 hover:bg-indigo-600 text-white rounded-lg px-14 py-3" type="submit">Submit</button>
                    </div>
                    
                </form>

                <div id="suggestion-div" class="flex flex-col text-center text-sm gap-2 mt-2 sm:text-lg">
                    <small class="">Already have an account <a class="px-1 text-emerald-500 underline" href="/signin">Signin</a></small>
                </div>
        </div>
    </div>

    <script>
            document.addEventListener("DOMContentLoaded", () => {
                
                const signupForm = document.getElementById("signup_form");

                signupForm.addEventListener("submit", (event) => {
                    const password = document.getElementById("password");
                    const confirmPassword = document.getElementById("confirm_password");
                    const errorMsgField = document.getElementById("confirm_password_error_msg");

                    if (password.value !== confirmPassword.value){

                        event.preventDefault(); // Stop the submission of form.
                        errorMsgField.textContent = "Password should Match!";
                        errorMsgField.classList.remove("hidden");
                        confirmPassword.focus();
                    }
                    else{
                        errorMsgField.textContent = "";
                        errorMsgField.classList.add("hidden");

                    }
                
                });
                


            });
    </script>
</body>
</html>


